<?xml version="1.0" encoding="utf-8"?>
<DATA>
  <Nom Value="Division Euclidienne" />
  <Sujet Value="1" />
  <SousTitre Value="#Formule 36 : 7 = (...\times7)+..." />
  <TexteFin Value="C'est Terminé" />
  <VisibilitéTemps Value="true" />
  <IndicateurTemps Value="0" />
  <Decompte Value="true" />
  <Correction Value="true" />
  <Script Value="&lt;Question Texte=&quot;Effectuer le calcul suivant :&quot; Nbr=&quot;10&quot; Temps=&quot;Auto&quot;/&gt;&#xD;&#xA;&lt;Variable Nom=&quot;Entier1&quot; Type=&quot;Entier&quot; Valeur=&quot;[4,9]&quot;/&gt;&#xD;&#xA;&lt;Variable Nom=&quot;Entier2&quot; Type=&quot;Entier&quot; Valeur=&quot;[4,9]&quot;/&gt;&#xD;&#xA;&lt;Variable Nom=&quot;Entier3&quot; Type=&quot;Tableau&quot; Valeur=&quot;[1,1,1,1,1,1,1,1,1,1,1,1,2,3,4,5,6]&quot;/&gt;&#xD;&#xA;&lt;Variable Nom=&quot;EntierR&quot; Type=&quot;Calcul&quot; Valeur=&quot;Entier1*Entier2+Entier3&quot;/&gt;&#xD;&#xA;&#xD;&#xA;&lt;Formule Formule=&quot;EntierR : Entier2&quot; FormuleCorrection=&quot;(Entier1 \times Entier2) + Entier3&quot;/&gt;" />
  <Scripted Value="true" />
  <Update Value="2018-09-10T18:33:03.4594045+02:00" />
  <Auteur Value="" />
  <Path_Base Value="Fichier Data/6ème\Nombres Entier" />
  <Version Value="1.0" />
</DATA>