<?xml version="1.0" encoding="utf-8"?>
<DATA>
  <Nom Value="Multiplier un décimal par 10-100" />
  <Sujet Value="1" />
  <SousTitre Value="#Formule 10,5 \times 100 = ?" />
  <TexteFin Value="C'est Terminé" />
  <VisibilitéTemps Value="true" />
  <IndicateurTemps Value="0" />
  <Decompte Value="true" />
  <Correction Value="true" />
  <Script Value="&lt;Question Texte=&quot;Effectuer le calcul suivant :&quot; Nbr=&quot;10&quot; Temps=&quot;Auto&quot;/&gt;&#xD;&#xA;&#xD;&#xA;&lt;Variable Nom=&quot;Multiple&quot; Type=&quot;Tableau&quot; Valeur=&quot;[10,100]&quot;/&gt;&#xD;&#xA;&lt;Variable Nom=&quot;Coef&quot; Type=&quot;Tableau&quot; Valeur=&quot;[10,100]&quot;/&gt;&#xD;&#xA;&lt;Variable Nom=&quot;Aleatoire&quot; Type=&quot;Entier&quot; Valeur=&quot;[1,1000]&quot;/&gt;&#xD;&#xA;&lt;Variable Nom=&quot;AleatoireDecimal&quot; Type=&quot;Calcul&quot; Valeur=&quot;Aleatoire/Coef&quot;/&gt;&#xD;&#xA;&lt;Variable Nom=&quot;Resultat&quot; Type=&quot;Calcul&quot; Valeur=&quot;Aleatoire/Coef*Multiple&quot;/&gt;&#xD;&#xA;&#xD;&#xA;&lt;Formule Formule=&quot;AleatoireDecimal \times Multiple&quot; FormuleCorrection=&quot;AleatoireDecimal \times Multiple = Resultat&quot;/&gt;" />
  <Scripted Value="true" />
  <Update Value="2018-09-13T08:35:44.5283365+02:00" />
  <Auteur Value="" />
  <Path_Base Value="Fichier Data/6ème\Nombres Décimaux" />
  <Version Value="1.0" />
</DATA>