<?xml version="1.0" encoding="utf-8"?>
<DATA Nom="Calcul Mental n°" Sujet="1" SousTitre="Calcul Mental n°" TexteFin="C'est Terminé" VisibilitéTemps="true" IndicateurTemps="0" Decompte="true" Correction="false" Script="&lt;Question &quot;Effectuer le calcul suivant :&quot;/&gt;" Scripted="true" Update="2018-07-05T16:01:51.9285665+02:00" />