<?xml version="1.0" encoding="utf-8"?>
<DATA>
  <Nom Value="Tables de multiplication" />
  <Sujet Value="1" />
  <SousTitre Value="#Formule 8\times9" />
  <TexteFin Value="C'est Terminé" />
  <VisibilitéTemps Value="true" />
  <IndicateurTemps Value="0" />
  <Decompte Value="true" />
  <Correction Value="true" />
  <Script Value="&lt;Question Texte=&quot;Effectuer le calcul suivant&quot; Nbr=&quot;10&quot; Temps=&quot;Auto&quot;/&gt;&#xD;&#xA;&lt;Variable Nom=&quot;Entier1&quot; Type=&quot;Entier&quot; Valeur=&quot;[4,9]&quot;/&gt;&#xD;&#xA;&lt;Variable Nom=&quot;Entier2&quot; Type=&quot;Entier&quot; Valeur=&quot;[4,9]&quot;/&gt;&#xD;&#xA;&lt;Variable Nom=&quot;EntierR&quot; Type=&quot;Calcul&quot; Valeur=&quot;Entier1*Entier2&quot;/&gt;&#xD;&#xA;&#xD;&#xA;&lt;Formule Formule=&quot;Entier1 \times Entier2&quot; FormuleCorrection=&quot;EntierR&quot;/&gt;" />
  <Scripted Value="true" />
  <Update Value="2018-09-10T13:25:32.214425+02:00" />
  <Auteur Value="" />
  <Path_Base Value="Fichier Data/6ème\Nombres Entier" />
  <Version Value="1.0" />
</DATA>