<?xml version="1.0" encoding="utf-8"?>
<DATA>
  <Nom Value="Calcul Mental noté n°1" />
  <Sujet Value="2" />
  <SousTitre Value="Chapitre 1-2-3" />
  <TexteFin Value="C'est Terminé" />
  <VisibilitéTemps Value="true" />
  <IndicateurTemps Value="0" />
  <Decompte Value="true" />
  <Correction Value="false" />
  <Script Value="&lt;Question Texte=&quot;Effectuer le calcul suivant :&quot; Nbr=&quot;10&quot; Temps=&quot;Auto&quot;/&gt;" />
  <Scripted Value="false" />
  <Update Value="2018-10-21T19:16:50.0959382+02:00" />
  <Auteur Value="" />
  <Path_Base Value="Fichier Data/4ème\Thèmes Multiples" />
  <Version Value="1.0" />
</DATA>