<?xml version="1.0" encoding="utf-8"?>
<DATA>
  <Nom Value="Calcul Mental n°aszazeaze" />
  <Sujet Value="1" />
  <SousTitre Value="Calcul Mental n°" />
  <TexteFin Value="C'est Terminé" />
  <VisibilitéTemps Value="true" />
  <IndicateurTemps Value="0" />
  <Decompte Value="true" />
  <Correction Value="false" />
  <Script Value="&lt;Question &quot;Effectuer le calcul suivant :&quot;/&gt;" />
  <Scripted Value="false" />
  <Update Value="2018-07-11T18:54:31.5487811+02:00" />
  <Auteur Value="" />
  <Path_Base Value="Fichier Data/3ème" />
  <Version Value="1.0" />
</DATA>